@page "/signalrcounter"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<PageTitle>Incrementing Counter</PageTitle>

<h1>Counter incremented via SignalR</h1>
<p>Open this view in a different browser tab from the /counter view.  When that view's Increment button is clicked, this view's counter is incremented</p>

<p role="status">Current count: @currentCount</p>

<ul id="messagesList">
    @foreach (var message in messages)
    {
        <li>@message</li>
    }
</ul>

@code {
    private int currentCount = 0;
    private List<string> messages = new List<string>();
    private HubConnection? hubConnection;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/counterhub"))
            .Build();

        hubConnection.On<string>("IncrementCounter", (message) =>
        {
            currentCount++;
            messages.Add(message);
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
